$board-primary: rgba(46, 29, 87, 0.5);
$title-screen: rgb(158, 201, 225);

$cell-closed: rgb(12, 83, 67);
$cell-box-shadow: rgba(42, 42, 42, 0.2);
$cell-opened: rgba(100, 193, 63, 0.3);

$button-hover-active: rgba(12, 83, 67, 0.8);
