.game-status {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
