.page__title {
  font-size: 4rem;
  color: $title-screen;
  // filter: invert(1) grayscale(1) contrast(5);
  // text-shadow: 15px 15px 15px $title-screen;
  text-shadow: 1px 0 1px $cell-closed, 0 1px 1px $cell-closed,
    -1px 0 1px $cell-closed, 0 -1px 1px $cell-closed;
  margin: 0.5rem auto 0.5rem auto;
  // margin-bottom: 20px;
}
